@font-face{
    font-family: Righteous;
    src: url('../public/fonts/Righteous/Righteous-Regular.ttf');
}

@font-face{
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf');
}

@font-face{
    font-family: Nautigal;
    src: url('../public/fonts/The_Nautigal/TheNautigal-Regular.ttf');
}

@font-face{
  font-family: Parisienne;
  src: url('../public/fonts/Parisienne/Parisienne-Regular.ttf');
}

body,html{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(72, 34, 85), rgb(37, 5, 53));
    overflow-x: hidden;
}

.xs-img{
    background: url('../public/images/header-images/xs-screen.jpg') rgba(184, 95, 247, 0.273);
    background-size: cover;
    background-blend-mode: multiply;
  background-repeat: no-repeat;
  height: 50vh;
  box-shadow: 0 0 10px 5px rgba(15, 13, 13, 0.524);
}

.sm-img{
    background: url('../public/images/header-images/xs-screen.jpg') rgba(184, 95, 247, 0.273);
    background-blend-mode: multiply;
    background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  box-shadow: 0 0 10px 5px rgba(15, 13, 13, 0.524);
}

.md-img{
    background: url('../public/images/header-images/xs-screen.jpg') rgba(184, 95, 247, 0.273);
    background-blend-mode: multiply;
    background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  box-shadow: 0 0 10px 5px rgba(15, 13, 13, 0.524);
  border-bottom: 3px solid rgba(255, 255, 255, 0.624);
}

/* .lg-img{
    background-image: url('../public/images/header-images/lg-screen.jpg');
    background-size: 100%;
  background-repeat: no-repeat;
  height: 45rem;
  box-shadow: 0 0 10px 5px rgba(15, 13, 13, 0.524);
} */

.xl-img{
    background-image: url('../public/images/header-images/xl-screen.jpeg');
    background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 5px rgba(15, 13, 13, 0.524);
}

.content{
    padding: 7%;
}

.body1 h1{
    text-align: center;
    color: #fff;
    font-family: Parisienne;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 4.5rem;
    padding-bottom: 14%;
    font-weight: 700;
}

.heading{
    background-color: rgba(14, 8, 20, 0.636);
    position: fixed;
    width: 100%;
    z-index: 99;
  }
  
.logo{
    font-family: Righteous;
    color: #fff;
    font-size: 3rem;
  }

.feature{
  padding: 55% 10%;
  background: url('../public/images/body1-images/background.jpeg') rgba(72, 15, 93, 0.549);
  background-size: cover;
  background-blend-mode: multiply;
}

.feature-img{
  background-image: url('../public/images/body1-images/feature-img@2x.png');
  padding: 21.3% 32.8%;
  margin-top: 5vh;
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 3.5vh 3.5vh 2px 0.5vh rgba(60, 27, 65, 0.621);
  z-index: 3;
  position: relative;
}

.violet-box{
  background-color: rgba(37, 16, 36, 0.517);
  width: 100%;
  height: 10vh;
  margin-top: -40%;
  color: #fff;
  font-family: Nautigal;
  letter-spacing: 3px;
  font-size: 4rem;
  z-index: 5;
  position: absolute;
}

.title1{
  margin-top: -56.5%;
  font-size: 4.5em;
  width: 100%;
  font-family: Nautigal;
  color: #fff;
  z-index: 7;
  position: absolute;
}

.paragraph{
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  opacity: 0.9;
  line-height: 2.5rem;
  width: 100%;
  margin-top: -40%;
  z-index: 7;
  position: absolute;
}

.description{
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  line-height: 2.5rem;
  padding: 0 15vh;
  text-align: center;
  width: 100%;
  margin-top: -27%;
  z-index: 7;
  position: absolute;
}

.tags{
  padding: 0.8rem 1.8rem;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 700;
  background-color: rgba(60, 27, 65, 0.621);
  border-radius: 2.5rem;
  margin-top: -35%;
  margin-left: 50vh;
  z-index: 7;
  position: absolute;
  justify-content: center;
}

.add{
  padding: 1rem;
  background-image: url('../public/images/body1-images/plus.png');
  background-size: 1.5rem;
  background-repeat: no-repeat;
}

.buttons{
  padding: 1rem 1.3rem;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -2rem;
  height: 3.5rem;
  z-index: 7;
  position: absolute;
  background: linear-gradient(45deg,rgba(142, 72, 143, 0.786),rgba(87, 35, 105, 0.786));
  color: #fff;
  text-shadow: 1.3px 0 rgba(255, 210, 217, 0.511);
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 2px solid rgba(255, 210, 217, 0.511);
  font-weight: 500;
  border-radius: 0.3rem;
}

.readlist{
  margin-left: 1.2rem;
  margin-top: -1rem;
  padding: 0;
}

@media screen and (max-width: 650px){
  .title1{
    font-size: 3.6rem;
  }
  .paragraph{
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .description{
    font-size: 1rem;
    padding: 0 5vh;
    line-height: 1.3rem;
  }
}

@media screen and (min-width: 651px) and (max-width: 800px){
  .title1{
    font-size: 4rem;
  }
  .paragraph{
    font-size: 1.3rem;
  }
  .description{
    font-size: 1.2rem;
    padding: 0 10vh;
    line-height: 1.6rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px){
  .title1{
    font-size: 5rem;
  }
  .description{
    font-size: 1.3rem;
    padding: 0 12vh;
    line-height: 2.3rem;
  }
}
@media screen and (min-width: 1201px) and (max-width: 2000px){
  .title1{
    font-size: 7rem;
    text-shadow: 10px 2px rgba(60, 27, 65, 0.621);
  }
  .paragraph{
    font-size: 1.8rem;
    line-height: 4rem;
    margin-top: -43%;
    text-shadow: 4px 3px rgba(60, 27, 65, 0.621);
  }
  .description{
    font-size: 1.5rem;
    padding: 2vh 10vh;
    margin-top: -31%;
    line-height: 3rem;
    background-color: rgba(60, 27, 65, 0.311);
    border-left: 12px solid rgba(60, 27, 65, 0.621);
    width: 70%;
    margin-left: 16%;
  }
}

@media screen and (min-width: 2001px) and (max-width: 4000px){
  .title1{
    font-size: 8rem;
    text-shadow: 10px 2px rgba(60, 27, 65, 0.621);
  }
  .paragraph{
    font-size: 2.3rem;
    line-height: 5rem;
    margin-top: -45%;
    text-shadow: 4px 3px rgba(60, 27, 65, 0.621);
  }
  .description{
    font-size: 1.8rem;
    padding: 5vh 10vh;
    margin-top: -34%;
    line-height: 4rem;
    width: 60%;
    margin-left: 20%;
    border-left: 15px solid rgba(60, 27, 65, 0.621);
    background-color: rgba(60, 27, 65, 0.311);
  }
  .buttons{
    font-size: 1.5rem;
    margin-top: -25vh;
    height: 4.3rem;
  }
  .add{
    background-size: 20%;
  }
  .readlist{
    margin-left: 1.7rem;
  }
}
